/* ----- Nav ------ */

#nav {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #deecec;
  border-bottom: 10px rgba(132, 186, 190, 1);
}

#icon-container,
#nav-links {
  display: none;
}

#menu {
  margin-left: auto;
}

#nav-links li a {
  color: #2c5f63;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*----- Header ----*/
#landing-page {
  background: #deecec;
}

.container-content h3 {
  color: #589195;
  font-family: Outfit;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 300% */
}

.container-content h1 {
  color: #3a415c;
  font-family: Outfit;
  font-size: 2.7rem;
  max-width: 24rem;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 2.7rem;
}

.container-content p {
  color: #707686;
  font-family: Work Sans;
  font-size: 1.1rem;
  max-width: 28rem;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2rem;
}

.container-content button {
  border: none;
  padding: 0.5px 40px;
  border-radius: 38px;
  background: #589195;
  color: #fff;
  text-align: center;
  font-family: Outfit;
  cursor: pointer;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  width: 11rem;
  height: 4rem;
  text-align: center;
}

/* Container */

.container {
  padding: 1rem 2rem;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
}

.container-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.img-container {
  width: 300px;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

/* ------- Latest Arrival ------ */

#services {
  padding: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.service:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.service h3 {
  color: #34394c;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 333.333% */
}
.service p {
  width: 12rem;
  color: #7f8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}

#latest-arrival {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  gap: 1rem;
}

#Featured-Product-heading div {
  display: flex;
  gap: 3rem;
}

.heading {
  color: #34394c;
  font-family: Outfit;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 120% */
  text-align: center;
}

.card p {
  color: #707686;
  font-family: Work Sans;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

/* Card List */

.card {
  display: flex;
  flex-direction: column;
  width: 220px;
  gap: 0.5rem;
}

.item-name {
  color: #34394c;
  font-family: Work Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 900;
}

.price {
  display: flex;
  align-items: center;
}

.size {
  margin-left: auto;
}

.size span {
  margin-left: 2px;
  padding: 0.1rem 0.5rem;
  border-radius: 2px;
  border: 0.8px solid #a5a9b2;
  color: #a2a5ad;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.price h2 {
  color: #297176;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}

.card-img {
  width: 220px;
  height: 300px;
  border-radius: 4px;
  background: #f7f8fc;
  display: flex;
  flex-direction: column;
}

.card-img img {
  align-self: center;
  width: 170px;
  height: 220px;
}

.top-sale {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sale {
  padding: 0.5px 10px;
  border-radius: 2px;
  background: #f04726;
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  /* line-height: 25px; 208.333% */
}

.top {
  padding: 0.5px 10px;
  border-radius: 2px;
  background: #31797e;
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  /* line-height: 25px; 208.333% */
}

.reating-review {
  display: flex;
  justify-content: space-between;
}

.description {
  color: #7f8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

.card-list {
  display: flex;
  gap: 3.5rem;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

/* Featured-Product coundown */
#Featured-Product-coundown {
  background: #f6f8fa;
}

#coundown,
#timer,
#timer-heading,
#price-list,
.count,
.count h1,
#timer-heading {
  display: flex;
}

#coundown {
  flex-direction: column;
}

#coundown h3 {
  color: #34394c;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 300% */
}

#price-list {
  gap: 2rem;
}

#price-list h1 {
  color: #589195;
  font-family: Outfit;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 120% */
}

#timer {
  gap: 1rem;
}

#price-list h2 {
  color: #5b6075;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 250% */
  text-decoration: line-through;
}

.count h1 {
  background: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #34394c;
  font-family: Outfit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 60px; /* 200% */
  text-align: center;
  align-items: center;
  justify-content: center;
}

.count {
  align-items: center;
  gap: 1rem;
}

.count span {
  color: #34394c;
  font-family: Outfit;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 60px; /* 157.895% */
}

#timer-heading {
  gap: 4.6rem;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  color: #34394c;
  text-align: center;
  font-family: Outfit;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 300;
  line-height: 60px; /* 375% */
}

#timer-heading h2 {
  align-items: center;
  justify-content: center;
  color: #34394c;
  font-family: Outfit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 60px; /* 375% */
}

/* Featured-Product */

#Featured-Product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem;
  background: #fff;
}

#Featured-Product-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Featured-Product-active {
  color: #34394c;
  font-family: Outfit;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 60px; /* 230.769% */
}

.Featured-Product-inactive {
  color: #afb4c4;
  font-family: Outfit;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
}

#shoping-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 1rem;
  flex-wrap: wrap;
}

#shoping-cards .shoping-card {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* width: 520px; */
  /* height: 260px; */
  width: 380px;
  height: 250px;
}

#shoping-cards .shoping-card h3 {
  color: #589195;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 428.571% */
}

#shoping-cards .shoping-card h1 {
  color: #34394c;
  font-family: Outfit;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 116.667% */
}

#shoping-cards .shoping-card a {
  color: #000;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  text-decoration-line: underline;
}

.shoping-card-img-container {
  width: 250px;
}

.women-card {
  background: rgba(233, 230, 240, 1);
}

.men-card {
  background: rgba(246, 235, 217, 1);
}

.shoping-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#Shop-Category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

#Shop-Category-cards {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.Shop-Category-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Shop-Category-card div {
  width: 230px;
  height: 150px;
  cursor: pointer;
}

.Shop-Category-card div:hover {
  opacity: 0.8;
  transition: 0.2s ease-in;
}

.Shop-Category-card h2 {
  color: #34394c;
  text-align: center;
  font-family: Outfit;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 60px; 214.286% */
}

.Shop-Category-card p {
  color: #bfbfbf;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* footer */

#footer {
  background: rgba(232, 234, 239, 1);
}

#footer-logo-container p {
  width: 20rem;
  color: #707686;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}

#email-conatiner {
  position: relative;
}

#email-conatiner input {
  padding: 0.2rem;
  border: none;
  border-radius: 3px;
  background: #fff;
  color: #aeb0b8;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 200% */
  letter-spacing: -0.42px;
}

#email-logo {
  position: absolute;
  top: 11.2px;
  left: 8.5rem;
  width: 20px;
}

#footer-content {
  padding: 2rem 1rem;
}

#footer-content,
#footer-links {
  display: flex;
  /* gap: 5rem; */
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#footer-links h2 {
  color: #34394c;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

#footer-links li a,
#footer-links li a {
  cursor: pointer;
  color: #6e7489;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
}

#footer-links li img {
  display: inline;
}

#footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#footer-logo-container #logo {
  width: 150px;
}

#social-media {
  display: flex;
  gap: 1rem;
}

#address {
  width: 10rem;
}

#social-media img {
  width: 1.3rem;
}

#Categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Categories div {
  display: flex;
  gap: 2rem;
}

#Categories-heading {
  margin-top: 1rem;
}

#footer-copy-right {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  /* padding-inline: 9rem; */
  flex-wrap: wrap;
}

#footer-links li a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

#footer-copy-right h3 {
  color: #707686;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 26px; 144.444% */
}

#footer-copy-right p {
  color: #707686;
  text-align: right;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 24px; 171.429% */
  letter-spacing: 0.28px;
}

/* review */

#review {
  background: url(./public/bg-imges/review-bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  gap: 2rem;
  flex-direction: column;
}

.review-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#review-container {
  gap: 5rem;
  align-items: center;
  flex-wrap: wrap;
}

.review-card-footer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.review-card-footer img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: lightgray -17px -4.012px / 174.419% 116.336%;
}

#review-heading h1 {
  width: 20rem;
  color: #34394c;
  font-family: Outfit;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
}

#review-heading p {
  width: 20rem;
  color: #707686;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
}

#review-container,
#review-heading,
#review,
#review-cards {
  display: flex;
  justify-content: center;
}

#review-heading {
  align-items: center;
  justify-content: center;
}

#review {
  padding: 5rem 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#review-heading {
  flex-direction: column;
}

#review-cards {
  gap: 3rem;
  flex-wrap: wrap;
}

#review-cards .review-card {
  background: #fff;
  box-shadow: 0px 2px 19px 2px rgba(208, 227, 227, 0.49);
  width: 350px;
  height: 396px;
  flex-shrink: 0;
  padding: 2rem;
}

.review-card-heading {
  display: flex;
}

.review-card-head {
  display: flex;
  justify-content: space-between;
}

.review-card-star-container {
  display: flex;
}

.review-card-head-img img {
  display: inline;
}

#review-cards .review-card p {
  color: #707686;
  font-family: Work Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.review-card-footer div h2 {
  color: #34394c;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 60px; 300% */
}

.review-card-footer div p {
  color: #b4b9c7;
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 60px; 500% */
}

/* brands */

#brands {
  padding: 2rem;
}

#brands-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

/* --- 751px ---- */

@media screen and (min-width: 751px) {
  #nav {
    padding: 2% 6%;
  }

  #icon-container {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    gap: 2rem;
  }

  #menu {
    margin-left: 0;
  }

  /* --- container ---- */
  .container {
    flex-direction: row;
  }

  .container-content {
    align-items: flex-start;
  }

  #landing-page-content h1 {
    width: 23rem;
    font-size: 2.7rem;
    line-height: 2.5rem;
    text-align: left;
  }

  #landing-page-content p {
    width: 29rem;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: left;
  }

  /* latest-arrival */

  #latest-arrival {
    align-items: flex-start;
    padding: 5rem;
  }

  .heading,
  .description {
    margin-left: 1.3rem;
  }

  /* Feature produnt condow */

  #shoping-cards .shoping-card {
     width: 520px;
  height: 260px;
  }

  /* footer */

  #footer-copy-right {
    padding-inline: 9rem;
  }

  #footer-content,
  #footer-links {
    gap: 5rem;
  }
}

/* --- 851px ---- */

@media screen and (min-width: 851px) {
  #nav {
    justify-content: space-between;
  }

  #icon-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  #landing-page {
    justify-content: center;
    padding: 2% 6%;
  }

  #landing-page-content h1 {
    font-size: 2.5rem;
    line-height: 2.56rem;
    width: 30rem;
  }

  .img-container {
    width: 350px;
  }

  /* Featured-Product */
  #Featured-Product-coundown {
    padding: 2% 6%;
    justify-content: center;
  }

  #Featured-Product-heading {
    flex-direction: row;
    justify-content: space-between;
  }

  .heading {
    text-align: left;
  }

  #Featured-Product-content h3,
  #Featured-Product-content h1 {
    text-align: left;
  }

  #Featured-Product-content p {
    text-align: left;
  }

  /* shoping-cards */

  #shoping-cards {
    flex-wrap: nowrap;
  }
}

/* ----- 1200px ------*/

@media screen and (min-width: 1200px) {
  #menu {
    display: none;
  }

  #nav-links {
    display: flex;
    gap: 3rem;
  }

  #nav {
    padding: 2% 8%;
  }

  #nav-links li a img {
    display: inline;
  }

  #icon-container {
    margin-left: 0;
  }

  #landing-page {
    gap: 10rem;
    background: url(./public/icons/star.svg), url(./public/bg-imges/wave.png),
      #deecec;
    background-repeat: no-repeat;
    background-size: 10rem, 20rem;
    background-position-x: 25rem, 1px;
    background-position-y: 23rem, 17rem;
  }

  #landing-page-content h1 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    width: 40rem;
  }

  .img-container {
    width: 380px;
  }

  /* Featured-Product */

  #Featured-Product-coundown {
    gap: 10rem;
  }
}
